@{
    ViewData["Title"] = "Home Page";
}

@{
    var link = "https://replit.com/@turbopanda735/LastingNuttyDesignmethod?embed=true";
    var githubLink = "https://github.com/turbopanda735/MonkeyShmupp";

}

<div class="text-center">
    <h1 class="display-4">Welcome to my portfolio!</h1>
    <br/>
    <h3>Just click run to start! Use the left and right arrow keys to move left or right and spacebar to shoot!</h3>
    <br />
    <iframe frameborder="0" width="800" height="800" src="@link"></iframe>
    <br />
    <h3>This is my first game. I used pygame, a python library for game design, to make it.</h3>
    <h3>It is embedded in the page with replit, an online IDE.</h3>
    <h3>It's not perfect, so the source code is on my github under <a href="@githubLink">"Monkey Shmup"</a></h3>
    <br />
    <h2 class="p-2">A little about the author:</h2>
    <h3 class="pt-4 pb-5 m-0">My name is Joel Kozek and I am a software developer.</h3>
</div>
