@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
    <p>I am going to steal all of your data.</p>
</div>